h1 {
    font-family: sans-serif;
		font-size: 35px;
		font-weight: bold;
    word-spacing: 20px;
	  text-align: center;
	  padding-bottom: 25px;
}

p {
    text-indent: 50px;
}

p::first-letter { 
    font-size: 200%;
    color: purple;
}