#standout {
    color:red
}
.ten {
    color:blue
}
.twenty {
    color:teal
}
.thirty {
    color: blueviolet
}
.fourty {
    color: cornflowerblue
}
.fifty {
    color: darkgreen
}
.sixty {
    color:darkorange
}
.seventy {
    color:deeppink
}
.eighty {
    color:fuchsia
}
.ninety {
    color:grey
}
.ninetynine {
    color:dodgerblue 
}