.cell1 {
    background-color: darkblue;
}

.cell2 {
    background-color: blue;
}

.cell3 {
    background-color: lightblue;
}

.cell4 {
    background-color: lightcyan;
}

.cell5 {
    background-color: lightgray;
}