html {
    border: 2px solid purple;
}

body {
    width: 40%;
    border: 2px solid black;
}

div {
    border: 2px solid red;
    color: black;
}

#cell1 {
    position: absolute;
    top: 100px;
    width: 600px;
    height: 900px;
    background-color: darkgrey;

}
